body {
  background-color: #F8EEE7;
  color: #49274a;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 23px;
  margin: auto;
}
h1 {
    font-family: 'Fjalla One', sans-serif;
    color: #94618e;
    line-height: 40px;
    font-size: 46px;
    margin: 0 0 20px 0;
    }
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: #49274a;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 23px 0;
    }
h3 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  color: #49274a;
  font-size: 18px;
  line-height: 23px;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  color: #49274a;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: .5em;;
}

h5 {
  font-size: 70%;
  margin-left: 4em;
  margin-right: 4em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

fieldset {
    padding: 0em;
    border: none;
    margin: auto;
    }

#container {
  background-color: #f4decb;
  max-width: 620px;
  margin: auto;
  padding:2.5rem;
}


#qb3 {
  max-width: 110px;
  text-align: left;
  margin: auto;
}


div.bc, div.qc {
  height: 300px;
  max-width: 550px;
  border: 7px solid #fff;
  border-radius: 40px;
  background-color: #de9;
  padding: 2em;
  text-align: center;
  align-content: center;
  margin: auto;
}

#q6a, #q6b, #q6c {
  text-align: right;
  max-width: 300px;
}
input {
  font-size: .8em;
}

#b6 {
  font-size: .8em;
  padding-top: 0;
  padding-bottom: 100px;
  margin:auto;
}

#qb7{
max-width: 300px;
text-align: left;
margin: auto;
}

#nav {
  text-align: center;
  margin-top: 1em;
}
button.nav_button {
  background-color: #ebe0ea;
  border: .7px solid #cdb1cb;
  border-radius: 3px;
  padding: 2px 4px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  font-size: 110%;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

button.nav_button:hover{
  background-color: #cdb1cb;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
